body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#svgcontainer .workspace {
  width: 1300px;
  height: 500px;
  border: solid black 1px;
  background: #777777;
  overflow : scroll;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.button {
  cursor: pointer;
  stroke: #000000;
  fill: #229922;
}

.brush .extent {
  stroke: #999999;
  stroke-width: 2;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.circle .commit {
	fill: #999999;
    stroke: #333333;
    stroke-width: 2px;
}

.circle .commit.root {
	fill: #FF0000;
    stroke: #FF8800;
    stroke-width: 2px;
}
.circle .commit.tip {
	fill: #00FF00;
    stroke: #FF8800;
    stroke-width: 2px;
}

.circle.selected circle {
	stroke: #3366FF;
	fill: #99AAFF;
}

.link {
	stroke: #000000;
    stroke-width: 2px;
    fill: none;
}

.link.selected{
	stroke: #3366FF;
    stroke-width: 2px;
    fill: none;
}